@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .active p {
        color: white ;
        @apply bg-blue-400;
    }
}

